VITE_API_URL=
VITE_BACKSTOP=
VITE_BLND_ASSET_CONTRACT=
VITE_BLND_ASSET_ISSUER=
VITE_COLLATERAL_ASSET_CODE=
VITE_COLLATERAL_ASSET_CONTRACT=
VITE_COLLATERAL_ASSET_ISSUER=
VITE_HORIZON_URL=
VITE_MERCURY_API=
VITE_MERCURY_BORROW_TABLE_NAME=
VITE_MERCURY_COLLATERAL_TABLE_NAME=
VITE_MERCURY_TOKEN=
VITE_PARTICIPATING_MFIS=
VITE_PLAYGROUND_API= # change variable name to TESTNET COLLATERAL SUPPLIER API or something
VITE_POOL_CONTRACT=
VITE_RPC_URL=
VITE_SME_PORTFOLIO_SIZE=
VITE_STELLAR_EXPERT_URL=
VITE_STELLAR_NETWORK_PASSPHRASE=
VITE_USDC_ASSET_CONTRACT=
VITE_USDC_ASSET_ISSUER=